*.iml
.gradle
/local.properties
/.idea
# https://kotlinlang.org/docs/whatsnew20.html#new-directory-for-kotlin-data-in-gradle-projects
/.kotlin
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
showcase/iosApp/Podfile.lock
showcase/iosApp/Pods/*
showcase/iosApp/iosApp.xcworkspace/*
showcase/iosApp/iosApp.xcodeproj/*
!showcase/iosApp/iosApp.xcodeproj/project.pbxproj
showcase/shared/shared.podspec
