.library-name a {
    position: relative;
    margin-left: 55px;
}

.library-name a::before {
    content: '';
    background: url("../images/logo-icon.svg") center no-repeat;
    background-size: contain;
    position: absolute;
    width: 36px;
    height: 36px;
    top: -6px;
    left: -46px;
}
