.library-name--link {
    position: relative;
    margin-inline-start: 55px;
}

.library-name--link::before {
    content: '';
    background: url("../images/logo-icon.svg") center no-repeat;
    background-size: contain;
    position: absolute;
    width: 36px;
    height: 36px;
    inset-inline-start: -46px;
}
