body {
    position: relative;
    margin: 0;
}

#github {
    position: absolute;
    inset-inline-start: 16px;
    inset-block-start: 16px;
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 8px;

    #repo-link {
        display: flex;
        flex-flow: column;
        align-items: start;
    }

    img {
        width: 32px;
    }
}

main {
    display: grid;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #fcfaed;
}

main > * {
    grid-column: 1;
    grid-row: 1;
}

#loading {
    display: flex;
    justify-content: center;
    font-size: 24px;
}

canvas {
    /* See https://css-tricks.com/how-to-create-wavy-shapes-patterns-in-css */
    --s: 20px; /* Size of the wave */
    --_s: calc(var(--s)*4) 51% repeat-x;
    --_r: calc(1.345*var(--s)) at left 50%;
    --_g1: #000 99%,#0000 101%;
    --_g2: #0000 99%,#000 101%;
    --mask:
      radial-gradient(var(--_r) top    calc(var(--s)* 1.9),var(--_g1))
       calc(50% - 2*var(--s) - var(--_i,0px)) 0/var(--_s),
      radial-gradient(var(--_r) top    calc(var(--s)*-0.9),var(--_g2))
       calc(50% - var(--_i,0px)) var(--s)/var(--_s),
      radial-gradient(var(--_r) bottom calc(var(--s)* 1.9),var(--_g1))
       calc(50% - 2*var(--s) + var(--_i,0px)) 100%/var(--_s),
      radial-gradient(var(--_r) bottom calc(var(--s)*-0.9),var(--_g2))
       calc(50% + var(--_i,0px)) calc(100% - var(--s))/var(--_s);
    -webkit-mask: var(--mask);
            mask: var(--mask);
}
